<div id="my-modal" class="modal fade font">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="my-modal-title"><b>ติดต่อ</b></h5>
                <button class="close" data-dismiss="modal">
                <span>&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <img src="image/modal/IMG_1941.JPG">
                        <img src="image/modal/60150776-23F2-41BD-91B8-08A1B13B8F20.jpg">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <h5> Creative by Phakkapon&Nutchanon Web design Administration and National Development Company Limited. </h5>
            </div>
        </div>
    </div>
</div>