Frontend/src/app/detail/detail.component.css
Frontend/src/app/detail/detail.component.html
Frontend/src/app/detail/detail.component.spec.ts
Frontend/src/app/detail/detail.component.ts
Frontend/src/app/edit/edit.component.css
Frontend/src/app/edit/edit.component.html
Frontend/src/app/edit/edit.component.spec.ts
Frontend/src/app/edit/edit.component.ts
