<div class="container-lg">
<div class="card">
    <div class="card-header">
        <h3>Detail of {{games.name}}</h3>
    </div>
    <div class="card-body" *ngIf="games">
        <table class="table">
            <tr>
                <th class="active text-right" width="120">ID</th>
                <td> {{games.id}}</td>
            </tr>
            <tr>
                <th class="active text-right" width="120">Name</th>
                <td> {{games.name}}</td>
            </tr>
            <tr>
                <th class="active text-right" width="120">Category</th>
                <td> {{games.category}}</td>
            </tr>
            <tr>
                <th class="active text-right" width="120">Release Date</th>
                <td> {{games.release_date}}</td>
            </tr>
            <tr>
                <th class="active text-right" width="120">Price</th>
                <td> {{games.price}}</td>
            </tr>
            <tr>
                <th class="active text-right" width="120">Produce By</th>
                <td> {{games.produce_by}}</td>
            </tr>

            <tr>
                <td></td>
                <td><button (click)="gotogameEdit(id)" class="btn btn-success" style="margin-right: 10px;">Edit</button>
                    <button routerLink="/list" class="btn btn-secondary">Back</button></td>
            </tr>
        </table>
    </div>
</div>
</div>