<div class="card">
    <div class="card-header">
        <h3>Detail Game</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th class="active text-right" width="120">ID</th>
                <td></td>
            </tr>
            <tr>
                <th class="active text-right" width="120">Name</th>
                <td></td>
            </tr>
            <tr>
                <th class="active text-right" width="120">Category</th>
                <td></td>
            </tr>
            <tr>
                <th class="active text-right" width="120">Release Date</th>
                <td></td>
            </tr>
            <tr>
                <th class="active text-right" width="120">Price</th>
                <td></td>
            </tr>
            <tr>
                <th class="active text-right" width="120">Produce By</th>
                <td></td>
            </tr>
        </table>
        <button routerLink="/edit" class="btn btn-success" style="margin-left: 900px;">Edit</button>
        <button routerLink="/list" class="btn btn-secondary" style="margin-left: 10px;">Back</button>
    </div>
</div>

